.form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  max-width: 1250px;
}

.input {
  height: 40px;
  border-radius: 5px;
  color: $black;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  border: none;
}
.input::placeholder {
  color: $black;
}

.inputError {
  height: 40px;
  border-radius: 5px;
  color: $black;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  border: 1px solid red;
}

.errors {
  margin: 10px auto;
  color: red;
  font-size: 12px;
}

.textLogin {
  font-size: 12px;
  font-weight: $fontBold;
  color: $black;
  padding: 10px 0 8px 0;
  width: 70%;
  margin: 0 auto;
}

.content{
  display: flex;
  flex-direction: column;
}
.mainContainer{
  background: rgba(255, 255, 255, 0.3019607843);
  border-radius: 25px;
  width: 700px;
  margin: 0 auto;
  height: fit-content;
  padding: 20px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 34px;
  }
}
.buttonContainer{
  display: flex;
  justify-content: center;
  grid-area: 4 / 1 / 5 / 3;
}