@import '../../../styles/vars';


.container {
  background: linear-gradient(
    145deg,
    $dark-green 0%,
    $green 100%
  );
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.containerClose {
  background: linear-gradient(
    145deg,
    $dark-green 0%,
    $green 100%
  );
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin: 0 auto;
  max-width: 900px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;

  h1 {
    font-size: 64px;
    margin: 0 auto;
  }
}
.empty{
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-size: 30px;
    color: $white;
  }
}


///////////////////////////////

.main {
  background: $semi-transparent;
  border-radius: 25px;
  width: 700px;
  margin: 0 auto;
  height: fit-content;
  padding: 20px;
}

.titleMain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;

  p {
    font-size: 25px;
    font-weight: $fontBold;
  }
  .titleText{
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
.formContainer{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 15px;
  max-width: 1250px;
  justify-items: center;
  margin-right: 15px;
}

.contractContent{
  display: flex;
  flex-direction: column;
  width: 70%;
}
.title {
  margin: 25px 0;
}
.content{
  display: flex;
  flex-direction: column;
  margin-left: 15px;

}
.input{
  height: 35px;
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  background-color: white;
  outline: 0;
  border-radius: 5px;
}
.inputContainer{
  display: flex;
  background: white;
  align-items: center;
  border-radius: 5px;
  .editIcon{
    position: relative;
    right: 10px;
  }
}