@import '../../../../styles/vars';

.container {
    background: #ffffff66; 
    border-radius: 16px;
    height: 91px;
    max-width: 300px;
    text-decoration: none;
    color: $black;
}

.info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 100%;
}

.name {
    font-weight: $fontBold;
    font-size: 15px;
    line-height: 20px;
    text-decoration: none;

}

.register {
    color: $white-pure;
    font-size: 14px;
    line-height: 20px;
}
.containerInfosContract{
    padding: 0 20px;
    width: 100%;
}