.input{
    margin-top: 8px;
    margin-bottom: 16px;
    height: 40px;
    border-radius: 5px;
    color: var(--black);
    padding: 10px;
    width: 90%;
    border: 1px solid var(--black);
}
.input::placeholder{
    color: var(--black);
}