// -------------------------------------------LOGO PEQUENA
.containerLogoMenor {
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 10px;
}
.containerLogoMenor > span{
  overflow: unset!important;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
  }
  100% {
     opacity: 1;
  }
  }
// ---------------------------------------------------LOGO GRANDE
.logo {
  animation: logow 2s linear infinite backwards;
}
.containerLogo > span{
  overflow: unset!important;
}
@keyframes logow{
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

@media(max-width: 1020px){
  .containerLogo{
    display: none;
  }
  .logoMenor{
    // animation: fadeIn 3s ease-in-out;
    animation: logow 2s linear infinite backwards;
  }
}