.container {
  background-image: linear-gradient(to right, #FFDDD2, #006D77);
  width: 100%;

}

.logo {
  margin-left: 18rem;

}

.main {
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  height: 650px;
  width: 440px;
  margin: 0 auto;

  h1 {
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
  }


  form {
    display: flex;
    flex-direction: column;
  }

}

.modalContainerMain {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  margin: 0 auto;

  &:hover {
    transform: scale(1.2);
    padding-left: 35px;
  }
}

.textLogin {
  font-size: 18px;
  font-weight: 400;
  color: #000;
  padding: 20px 0 8px 0;
  width: 80%;
  margin: 0 auto;
}
