@import "../../../styles/_vars.scss";
@import "../../../styles/global.module.scss";

.container {
  background-image: linear-gradient(to right, $pink, $dark-green);
  width: 100%;
}
.logo {
  margin-left: 18rem;
}
.main {
  border-radius: 40px;
  background: $semi-transparent;
  height: fit-content;
  width: 440px;
  margin: 20px auto;

  h1 {
    margin: 20px 0px 10px 40px;
  }
}
.modalContainerMain {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerHeader {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}
.link {
  color: #000;
  margin: 0 26% 0px 8%;
  cursor: pointer;
  &:hover {
    transition: 0.4s;
    transform: scale(1.2);
    padding-left: 0;
  }
}

.logoMenor {
  display: block !important ;
  justify-content: none !important ;
  align-items: none !important ;
}

@media (max-width: 768px) {
  .main {
    width: 100%;
    margin: 0 20px;
  }
}
