.container{
    background-image: linear-gradient(to right, #FFDDD2, #006D77);
    width: 100%;
    height: 100vh;
}

.main{
  padding: 1px;
}

.logo{
  margin-left: 18rem;

}

.main2{
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.3);
  height: 640px;
  width: 641px;
  margin-left: 600px;
  margin-top: 80px;

  h1{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
  }


  form{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
  }

}

.link{
  margin-left: 150px;
  margin-top: 30px;

  &:hover{
    transform: scale(1.2);
    padding-left: 35px;
  }
}
