.fullContainer {
  background: linear-gradient(
    145deg,
    rgba(226, 149, 120, 1) 0%,
    rgba(255, 221, 210, 1) 85%
  );
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.burguerContainer {
  background: linear-gradient(
    135deg,
    rgba(0, 109, 119, 1) 0%,
    rgba(131, 197, 190, 1) 100%
  );
  height: 50px;
  width: 50px;
  border: none;
}

.containerHistorico {
  display: flex;
  width: 500px;
  flex-direction: column;
  border-left: 1px solid #505050;
  padding: 20px;
  margin: 20px;
  margin-left: 50px;
}
.historicoUm {
  background: linear-gradient(
    145deg,
    rgba(255, 221, 210, 0.2) 0%,
    rgba(255, 221, 210, 1) 100%
  );

  border-radius: 12px;
  margin-bottom: 30px;
  width: 185px;
  height: 100px;
  padding: 5px;
  border: none;
  text-align: left;
}
.historicoUm h2 {
  margin-left: 5px;
  font-size: 15px;
}
.historicoDois {
  opacity: 60%;
  background: linear-gradient(
    145deg,
    rgba(255, 221, 210, 0.2) 0%,
    rgba(255, 221, 210, 1) 100%
  );
  border-radius: 12px;
  margin-bottom: 30px;
  width: 185px;
  height: 100px;
  padding: 5px;
  border: none;
  text-align: left;
}
.historicoDois h2{
  font-size: 15px;
  margin-left: 5px;
}

.grow {
  position: absolute;
  top: 20%;
  left: 35%;
  
}
.filter {
  filter: invert(69%) sepia(33%) saturate(668%) hue-rotate(325deg) brightness(92%) contrast(92%);
}

.footer{
  background: var(--green);
  width: 100%;
  height: 105px;
  bottom: 0;
  position: fixed;
}
.footer h1{
  color: #fff;
}