@import '../../../styles/_vars.scss';

.fullContainer {
  background: linear-gradient(
    145deg,
    $dark-pink 0%,
    $pink 85%
  );
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}
.containerHistorico {
  display: flex;
  width: 250px;
  flex-direction: column;
  border-left: 1px solid rgba(80, 80, 80, 0);
  padding: 20px;
  margin: 20px 20px 20px 0;
  transition: 0.5s;
  transform: translateX(230px);
}
.containerHistoricoClosed {
  display: flex;
  width: 250px;
  flex-direction: column;
  border-left: 1px solid #505050;
  padding: 20px;
  margin: 20px 20px 20px 0;
}
.historicoUm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  cursor: pointer;
  background: linear-gradient(
    145deg,
    #ffddd233 0%,
    $pink 100%
  );
  border-radius: 12px;
  margin-bottom: 30px;
  width: 185px;
  height: fit-content;
  padding: 5px;
  border: none;
  text-align: left;
  h1{
    margin: 0;
  }
  h2 {
    font-size: 15px;
    margin-left: 5px;
    margin: 0;
  }

}
.historicoDois {
  display: flex;
  flex-direction: column;
  gap: 15px;
  opacity: 60%;
  background: linear-gradient(
    145deg,
    #ffddd233 0%,
    $pink 100%
  );
  border-radius: 12px;
  margin-bottom: 30px;
  width: 185px;
  height: fit-content;
  padding: 5px;
  border: none;
  text-align: left;
  h1{
    margin: 0;
  }
  h2 {
    font-size: 15px;
    margin-left: 5px;
    margin: 0;
  }

}
.historicoDois:hover{
  transition: 0.3s;
  opacity: 100%;
  cursor: pointer;
}

.filter {
  filter: invert(69%) sepia(33%) saturate(668%) hue-rotate(325deg) brightness(92%) contrast(92%);
}
.footer{
  background: $green;
  width: 100%;
  height: 105px;
  bottom: 0;
  position: fixed;
}
.containerGrafico {
  width: 400px;
  height: 100px;
}
.mainHome {
  display: flex;
  justify-content: space-between;
  max-width: 1250px;
  margin: 0 auto;
}

.nameFooter{
  color: $white-pure;
  text-transform: capitalize;
  font-size: 22px;
  font-weight: 500;
  max-width: 300px;
  height: 100%;
}