.container{
    background: linear-gradient(
        145deg,
        rgba(0, 109, 119, 1) 0%,
        rgba(131, 197, 190, 1) 85%
      );
      width: 100vw;
      height: 100vh;
      margin: 0 auto;
}


.main {
    margin-top: 400px; //Remover isso aqui depois
}


.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
    margin: 0 24px 0 24px;
}