@import '../../../styles/global.module.scss' ;




.container{
    background: radial-gradient($dark-green, $green);
    max-width: 100vw;
    height: 100vh;
}

//------------------modal
.containerModal{
    position: absolute;
    top: 20%;
    left: 35%;
    background: $dark-pink;
    
    @extend .modal;

    button{
        @extend .button
    }
}
.contentModal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    
}
.inputContainerModal{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputs {
    @extend .input
}

//------------------foto
.photo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
//-------------botões
.containerButton{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30%);
    margin: 0 auto;
}
.buttonMyAccount{
    background: transparent;
    border: 1px solid $dark-green;
    height: 40px;
    border-radius: 20px;
    color: $black;
    font-size: 14px;
    font-weight: $fontMedium;
    padding: 0 20px;
    cursor: pointer;
}
.buttonLogout{
    border: 1px solid $dark-green;
    height: 40px;
    border-radius: 20px;
    color: $black;
    font-size: 14px;
    font-weight: $fontMedium;
    padding: 0 20px;
    background: transparent;
    cursor: pointer;
}
.buttonLogout:hover{
    background-color: $error;
    color: $white-pure;
}
//-------------container de dados

.dados{
    margin: 20px auto;
    width: calc(100% - 80px);
}
.dados p{
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: $fontMedium;
    color: $black;
    padding: 5px 0;
}
.containerElementos{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
    align-items: center;

}
.buttonSenha{
    border: none;
    background: none;
}
@media(max-width: 768px){
    .modalAccount{
        margin: 0 20px;
    }
    .buttonLogout{
        margin-left: 20px;
    }
}