@import '../../../styles/_vars.scss';

.container{
    background: radial-gradient($dark-green, $green);
    max-width: 100vw;
    height: 100vw;
}
//------------------foto
.photo{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
//-------------botões
.containerButton{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 30%);
    margin: 0 auto;
}
.buttonMyAccount{
    background: $white-pure;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: $black;
    font-size: 14px;
    font-weight: $fontMedium;
    padding: 0 20px;
}
.buttonLogout{
    background: $white-pure;
    border: none;
    height: 40px;
    border-radius: 20px;
    color: $black;
    font-size: 14px;
    font-weight: $fontMedium;
    padding: 0 20px;
}
.buttonLogout:hover{
    background-color: $error;
    color: $white-pure;
}
//-------------container de dados

.dados{
    margin: 20px auto;
    width: calc(100% - 80px);
}
.dados p{
    font-size: 14px;
    font-family: $primaryFont;
    font-weight: $fontMedium;
    color: $black;
    padding: 5px 0;
}
.containerElementos{
    display: flex;
    justify-content: space-between;
    max-width: 150px;
}
.buttonSenha{
    border: none;
    background: none;
}
@media(max-width: 768px){
    .modalAccount{
        margin: 0 20px;
    }
    .containerButton{
        width: 100%;
        padding: 0 20px;
    }
}