/*Fonte projeto*/
$primaryFont: 'Inter', sans-serif;

/*Paleta de cor do projeto*/
$dark-green: #006d77;
$green: #83c5be;
$white: #edf6f9;
$white-pure: #fff;
$pink: #ffddd2;
$dark-pink: #e29578;
$black: #000;
$semi-transparent: #ffffff4d;
$error: #e5383b;
$linearPink: linear-gradient(
  145deg,
  $dark-pink 0%,
  $pink 85%
);
$linearGreen: inear-gradient(
  135deg,
  $dark-green 0%,
  $green 100%
);

/*Peso da fonte*/
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontSemiBold: 600;
$fontBold: 700;
$fontExtraBold: 800;
$fontBlack: 900;

.modal{
  max-width: 500px;
  height: 400px;
  background: #ffffffe6;
  border-radius: 90px;
  margin: 0 auto;

  &Account{
    @extend .modal;
  }
}