@import './vars';

.modal{
  max-width: 500px;
  height: 400px;
  background: #ffffffe6;
  border-radius: 90px;
  margin: 0 auto;
}

.input{
  height: 20px;
  font-family: $primaryFont;
  border-radius: 5px;
  color: $black;
  padding: 10px;
  width: 70%;
  margin: 0 auto;
  border: none;
  outline: none;
}

.containerLogoAccount{
  padding: 10px 0;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  max-width: 200px;
}

/*Side bar*/
.burguerContainer{
  background: $linearGreen;
  height: 50px;
  width: 50px;
  border: none;
}

.container {
  background-image: linear-gradient(to right, $dark-green, $pink);
  width: 100%;
}

.logo {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}


/*button*/
.button{
  background-color: $green;
  border: 0;
  border-radius: 5px;
  color: $white;
  transition: filter 0.2s;
  width: 200px;
  height: 40px;
  margin: 20px auto;

  &:disabled {
    cursor: not-allowed;

    svg {
      animation: animate 2s infinite;
    }
  }

  &:hover {
    filter: brightness(1.08);
  }
}

.buttonText {
  color: $black;
  font-size: 12px;
  font-weight: 500;
}

.main {
  border-radius: 40px;
  background: #ffffff4d;
  height: 560px;
  width: 400px;
  font-family: $primaryFont;

  h1 {
    margin: 40px 0 35px 40px;
  }

}

.link {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.2);
    padding-left: 35px;
  }
}

.containerLogo {
  display: block;
}
.containerPlaceholder {
  font-size: 14px;
  font-weight: $fontRegular;
  color: #C7D2D6;
  padding: 10px 20px;
}

.modalLogin {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  max-width: 1250px;
  margin: 0 auto;
}

.MainButtonLogin {
  display: flex;
  justify-content: center;
  padding: 30px 0;
}

@media(max-width: 1020px){
  .modalLogin{
    justify-content: center;
  }
}
@media(max-width: 768px){
  .main{
    width: 100%;
    margin: 0 20px;
  }
}